.text1{
    font-size: 22px;
    height: 120%;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }